@model List<Galileo.Models.Course>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var course in Model)
{
    <a class="module" href="Projects?courseId=@course.course_id">
        <h1>@course.course_name</h1>
        <h4>Total Hours: <b>@course.course_total_hours</b> / Total Hours: <b>@course.course_total_hours</b> / Total Hours: <b>@course.course_total_hours</b></h4>
        <h5>v  see more  v</h5>
    </a>
}