@model Galileo.ViewModels.CourseProjectsAndUsers

@{
    ViewBag.Title = "Project Page";
}

<h3>Projects</h3>
@Html.Partial("~/Views/Shared/_Modules.cshtml", Model.projects, new ViewDataDictionary { { "Link", "Project?projectId=" } })

<h3>Teams</h3>
@Html.Partial("~/Views/Shared/_Modules.cshtml", Model.teamsView, new ViewDataDictionary { { "Link", "Team?teamId=" } })

<h3>Users</h3>
@Html.Partial("~/Views/Shared/_Modules.cshtml", Model.users, new ViewDataDictionary { { "Link", "Individual?userId=" } })