@model List<Galileo.ViewModels.Module>

@{
    ViewBag.Title = "Project Page";
}

<h3>Users</h3>
@Html.Partial("~/Views/Shared/_Modules.cshtml", Model, new ViewDataDictionary { { "Link", "Individual?userId=" } })