@model List<Galileo.ViewModels.Module>

    @{
        ViewBag.Title = "Teams";
    }
<h3>Click on a course to create/edit the teams</h3>
@Html.Partial("~/Views/Shared/_Modules.cshtml", Model, new ViewDataDictionary { { "Link", Url.Content("~") + "Team/Teams?courseId=" } })
